<h1>Productos de limpieza:</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productsList">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td [ngClass]="{'precio-alto': item.price > 5}">{{item.price | currency}}</td>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/products', item.id]">detalle</button>
    </tr>
  
  </tbody>
</table>
